
body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    display: block;
    max-width: 1440px;
    font-family: 'Graphik Web', Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
}

header {
    margin: 0 auto;
    padding: 12px 4%;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #FFFFFF;
}

.logo {
    margin: 10px 10px 10px 0;
    display: block;
    float: left;
    height: 38px;
}

nav {
    float: right;
    width: auto;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    display: block;
}

nav li {
    float: left;
    display: block;
}

nav a {
    padding: 20px 20px;
    display: block;
    text-decoration: none;
    color: #777777;
    font-size: 14px;
    font-weight: bold;
}

nav i {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .logo {
        margin: 14px 10px 14px 0;
        height: 30px;
    }

    nav a {
        padding: 22px 16px;
    }

    nav i {
        font-size: 16px;
    }
}

.popup-info {
    display: none;
    width: 100px;
    text-align: center;
    color: #666666;
    font-size: 14px;
    font-style: italic;
}

nav a:hover + .popup-info {
    display: block;
    position: fixed;
    overflow: hidden;
}

main {
    margin: 0 auto;
    padding: 16px 4%;
    max-width: 1200px;
    display: block;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #444444;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    text-align: center;
}

button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #444444;
    font-size: 16px;
    background: #ffffff;
    padding: 5px 10px 3px 10px;
    border: solid #444444 2px;
    text-decoration: none;
}

button:hover {
    background: #444444;
    color: #FFFFFF;
    border-color: #DDDDDD;
}