{% extends 'main.html' %}{% load i18n %}

{% block head %}
<style>
    .search-form {
        margin: 0 auto;
        padding: 0 8% 20px;
        position: relative;
    }

    input[type="search"] {
        padding-left: 6px;
        display: block;
        overflow: hidden;
        width: calc(100% - 100px);
        height: 30px;
    }
    
    button {
        position: absolute;
        right: 8%;
        top: 0;
        width: 90px;
    }

    div.checkbox {
        padding: 3px 1% 0 0;
        display: inline-block;
        color: #222222;
        font-size: 12px;
    }

    input[type="checkbox"] {
        width: 14px;
        height: 14px;
    }

    #result_chart {
        margin: 0 auto;
        padding: 12px 0;
        width: 500px;
        height: 500px;
    }
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Dzień', 'Przykładowe słowo 1', 'Przykładowe słowo 2'],
            ['1', 10, 20],
            ['2', 12, 21],
            ['3', 15, 25],
            ['4', 20, 27]
        ]);

        var options = {
            title: 'Popularność wyszukiwanych słów',
            legend: { position: 'top' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('result_chart'));
        chart.draw(data, options);
    }
</script>
{% endblock %}

{% block main %}
<h2>{% trans "Wyszukiwarka" %}</h2>

<form action="" method="post" class="search-form">
    {% csrf_token %}
    <input type="search" id="search_phrase" name="search"
           placeholder="{% trans 'Szukane wyrazy oddziel średnikami' %}" required>
    <button type="submit">{% trans "SZUKAJ" %}</button>
    <div class="checkbox"><input type="checkbox" id="not_case_sensitive" name="case_ch">
        {% trans "Ignoruj wielkość liter" %}
    </div>
    <div class="checkbox"><input type="checkbox" id="ignore_special_characters" name="char_ch">
        {% trans "Ignoruj polskie znaki" %}
    </div>
</form>

<div id="result_chart"></div>
{% endblock %}
